{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",

    "block-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "brace-style": [
      "warn",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "curly": ["warn", "multi"],
    "indent": ["error", 4],
    "key-spacing": [
      "error",
      {
        "afterColon": true,
        "beforeColon": true,
        "mode": "strict"
      }
    ],
    "linebreak-style": ["error", "unix"],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "no-console": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": false
      }
    ],
    "no-var": "warn",
    "nonblock-statement-body-position": ["warn", "beside"],
    "object-curly-newline": ["warn", "always"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "next": "block",
        "prev": "*"
      },
      {
        "blankLine": "always",
        "next": "block-like",
        "prev": "*"
      },
      {
        "blankLine": "always",
        "next": "function",
        "prev": "*"
      },
      {
        "blankLine": "never",
        "next": "return",
        "prev": "*"
      }
    ],
    "prefer-arrow-callback": [
      "warn",
      {
        "allowNamedFunctions": true
      }
    ],
    "prefer-destructuring": [
      "warn",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "sort-keys": [
      "off",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ]
  }
}